
.userName {
  font-size: 30px;
}
.pageName {
  font-size: 30px;
}
.logo {
  max-width: 70px;
  max-height: 70px;
}
.firstBlockHeader {
  display: flex;
  gap: 50px;
  align-items: center;
}
.secondBlockHeader {
  display: flex;
  justify-content: space-between;
}
.iconButton {
  display: flex;
  align-items: center;
}
.divider {
  border: none;
  height: 1px;
  background-color: #333;
}
