.mains {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 438px;
}
.mainsWithCountry {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 230px;
}
.pagination {
  align-items: center;
}
@media (max-width: 590px) {
  .mains {
    margin: 20px;
    flex-direction: column-reverse;
    gap: 0px;
  }
}
@media (max-width: 1000px) {
  .mains {
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }
  .mainsWithCountry {
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }
}
@media (max-width: 800px) {
  .mainsWithCountry {
    margin: 20px;
    flex-direction: column-reverse;
    gap: 0px;
  }
}
