.mains {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 438px;
}
@media (max-width: 1000px) {
  .mains {
    display: flex;
    margin: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .pagination {
    align-items: center;
  }
}
