@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-montserrat), sans-serif;
}

:root {
  --primary-color: #05D66D;
  --secondary-font: var(--font-inter);
}

@layer base {
  :root {
    --primary-color: #05D66D;
    --secondary-font: var(--font-inter);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
