.tableHeader th {
  text-align: center;
  background-color: #f2f2f2;
  font-weight: 500;
}

.tableHeader tr {
  border-bottom: 1px solid #000000;
}

.tableHeader .idInput {
  width: 30px;
  padding-left: 2px;
}
.content {
  text-align: center;
}
.centeralization {
  text-align: center;
}
.stylesForInput {
  align-items: center;
  height: 25px;
  width: 200px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  color: black;
  font-weight: 500;
  font-size: 17px;
}
.addIcon {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.searchIcon {
  position: relative;
  right: 30px;
}
.container {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  background-color: #fff;
}

.customCheckbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #4b4b4b;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}
.customCheckbox:checked {
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
  background-image: url("/CheckIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}
.icon {
  cursor: pointer;
}

.select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.tableContainer {
  width: 967px;
  overflow: auto;
  border: 1px solid #000000;
  border-radius: 10px;
}

.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 0px solid #ddd;
  padding: 8px;
  text-align: left;
}
.table tr:hover {
  background-color: #f1f1f1;
}
.centerTable {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.table tr:nth-child(even) {
  background-color: #f6f6f6;
}

.table tr:nth-child(odd) {
  background-color: #ffffff;
}

.mobileTable {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.mobileRow {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.rowHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.rowDetails {
  padding: 10px;
  background-color: #fff;
}

.expandButton {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .table {
    display: none;
  }

  .mobileTable {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .tableContainer {
    width: 100%;
  }
  @media (max-width: 1000px) {
    .container {
      width: 100px;
      height: 30px;
      margin-left: 167px;
    }
  }
}
